body {
    background-color: pink;
}

p {
    text-align: center;
    color: blueviolet;
}

h1,h2,h3,h4 {
    color: lightcoral;
    font-style: oblique;
    text-align: right;
}

li {
    color: white;
    font-size: 20px;
    font-weight: bold;
}